@model WaveUP.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "WaveUPe: форма заказу";
}

<h2>Оформити заказ зараз</h2>
<p>Будь-ласка введіть контактні дані, і ми вмить відправим товар!</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Дані</h3>
    <div class="form-group">
        <label>Ваше імя:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>Адрес доставки</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <h3>Опції</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Використати подарункову упаковку?
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Обробити заказ" />
    </div>
}
