@model WaveUP.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "WaveUP: ваша корзина";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>
<h2>Ваша корзина</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Кількість</th>
            <th>Інструмент</th>
            <th class="text-right">Ціна</th>
            <th class="text-right">Загальна ціна</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Instrument.Name</td>
                <td class="text-right">@line.Instrument.Price.ToString("# $")</td>
                <td class="text-right">
                    @((line.Quantity * line.Instrument.Price).ToString("# $"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("InstrumentId", line.Instrument.InstrumentId)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-danger" type="submit" value="Видалити" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Разом:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# $")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продовжити покупки</a>
    @Html.ActionLink("Оформити заказ", "Checkout", null, new { @class = "btn btn-primary" })
</div>
